port=3000
version=1
env=dev
RABBITMQ_URL=amqp://localhost:5672
RABBITMQ_QUEUE=notifications_queue
LOG_LEVEL=info
jwt_secret=jwt_secret
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=123
POSTGRES_DATABASE=weather
GMAIL_USER=email
GMAIL_PASS=pass
limits_ttl=5000
cache_ttl=5000
requests_limit=100